#gcolor{
    background-color: #232f3e;
}
#fcolor{
    background-color: #131921;
}
.imgpho{
    width: 80px;
    height: 30px;
}
.imgsiz{
    width:25px;
}
.carou{
    height: 300px;
}
.cardimg{
    width: 125px;
}
.cardimg2{
    margin: 5px;
    width: 160px;
}
.card1{
    width:300px;
}
.card2{
    width: 1224px;
}
.whitecol{
    color: white;
}