#hcolor{
    background-color: #37475A;
}
#gcolor{
    background-color: #232f3e;
}
#fcolor{
    background-color: #131921;
}
.imgpho{
    width: 80px;
    height: 30px;
}
.imgsiz{
    width:20px;
    margin: 3px;
}
.carou{
    height: 300px;
}
.cardimg{
    width: 125px;
}
.cardimg2{
    margin: 10px;
    width: 180px;
    height: 180px;
}
.card1{
    width:300px;
}
.card2{
    width: 1224px;
}
.whitecol{
    color: white;
}
.mfooter{
    height: 390px;
    font-size: 0.95pc;
}
.lfoot{
    font-size: 0.8pc;
}
.card-footer a {
    color: white;
    text-decoration: none;
  }
.count{

        color: #f08804;
        position: absolute; 
        top: 4px;
        right:100px;
        width: 1px;
}