#gcolor{
    background-color: #232f3e;
}
#fcolor{
    background-color: #131921;
}
.imgpho{
    width: 80px;
    height: 30px;
}
.imgsiz{
    width:25px;
}
.carou{
    height: 300px;
}
.cardimg{
    width: 125px;
}
.card{
    width:300px;
}