#gcolor{
    background-color: #232f3e;
}
#fcolor{
    background-color: #131921;
}
.imgpho{
    width: 80px;
    height: 30px;
}
.imgsiz{
    width:30px;
}
.carou{
    background-color: aqua;
}
.cardimg{
    width: 150px;
}